<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title> {{ .Title }} - {{ .Site.Title }} </title>
    <meta name="description" content="{{ .Summary }}">
    <link rel="canonical" href="{{ .URL | absURL }}" />
    <meta name="viewport" content="width=device-width,minimum-scale=1,initial-scale=1">
    <meta name="robots" content="index, follow" />
    <meta property="og:site_name" content="{{ .Site.Title }}" />
    <meta property="og:type" content="website">
    <meta property="og:url" content="{{ .URL | absLangURL }}">
    <meta property="og:title" content="{{ .Title }}">
    <meta property="og:description" content="{{ .Summary }}">
    {{ if .Params.featured }}
    {{ range first 1 (.Resources.Match .Params.featured) }}
        <meta property="og:image" content="{{ .Permalink }}">
        <meta name="twitter:image" content="{{ .Permalink }}">
    {{ end }}
    {{ end }}
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:url" content="{{ .URL | absLangURL }}">
    <meta name="twitter:title" content="{{ .Title }}">
    <meta name="twitter:description" content="{{ .Summary }}">
    {{ block "meta" . }}
    {{ end }}
    <link href="https://fonts.googleapis.com/css?family=Space+Mono:400,700" rel="stylesheet">
    <link rel="stylesheet" href="{{ "/styles/style.css" | absURL }}" type="text/css">    
</head>
<body class="font-mono text-sm leading-normal">
    {{ if .IsHome }}
        <div class="bg-cover bg-no-repeat bg-center w-screen h-screen relative" style="background-image:url('/images/background.jpg');">
            <header class="text-center absolute pin-t pin-w w-full">
                <h1 class="mt-16 text-white text-xl pb-8">{{ .Site.Title }}</h1>
                <div class="text-white text-lg">{{ .Site.Params.slogan }}</div>
            </header>
            <nav class="absolute pin-b pin-w w-full mb-8">
                <ul class="list-reset text-center">
                {{ range .Site.Menus.main }}
                    <li class="sm:inline-block px-4">
                        <a href="{{ .URL }}" class="under text-white">{{ .Name }}</a>
                    </li>
                {{ end }}
                </ul>
            </nav>
        </div>
    {{ else }}
    <div class="w-full sm:w-wrapper-1 md:w-wrapper-2 lg:w-wrapper-3 xl:w-wrapper-4 px-4 mx-auto pb-8">
        <div class="flex flex-wrap flex-row mb-16 justify-between pt-8">
            <header class="px-4 w-full md:w-1/2 lg:w-1/3 xl:w-1/4 flex-none mb-8">
                <a href="{{ "/" | absURL }}" class="under">
                    <div class="text-lg font-bold">{{ .Site.Title }}</div>
                </a>
                <div>{{ .Site.Params.slogan }}</div>
            </header>
            <nav class="px-4 w-full md:w-1/2 lg:w-1/3 xl:w-1/4 flex-none mb-8 self-end">
                <ul class="list-reset md:text-right">
                {{ range .Site.Menus.main }}
                    <li class="inline-block md:pl-4">
                        <a href="{{ $.Site.BaseURL }}{{ .URL }}" class="under">{{ .Name }}</a>
                    </li>
                {{ end }}
                </ul>
            </nav>
        </div>
        <main>
        {{ block "main" . }}
        {{ end }}
        </main>
    </div>
    <script src="{{ "/scripts/index.js" | absURL }}"></script>
    <link rel="stylesheet" href="{{ "/styles/gallery.css" | absURL }}" type="text/css">
    {{ end }}
</body>
</html>
