{{ define "meta" }}
{{ end }}
{{ define "main" }}
<section>
    {{ partial "pagetitle.html" . }}
    <div class="mb-16 px-4">
        {{ .Content }}
    </div>
    <div class="flex flex-wrap flex-row justify-center project-gallery">
    {{ range .Resources.ByType "image" }}
    {{ $image := .Resize "x330" }}
        <a href="{{ .RelPermalink }}" class="px-4 flex-none mb-8 block" />
            <div class="hover:shadow-lg">
                <img src="{{ $image.RelPermalink }}" alt="{{ .Name }}" class="block"/>
            </div>
        </a>
    {{ end }}
    </div>
</section>
{{ end }}
